//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//breakpoints
$tablets:768px;
$phones: 480px;

//normalize
@import "_misc/normalize.scss";

// setups
@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";
@import "_misc/media.scss";


// blocks
@import "blocks/hero.scss";
@import "blocks/header.scss";
@import "blocks/nav.scss";
@import "blocks/button.scss";
@import "blocks/title.scss";
@import "blocks/best.scss";
@import "blocks/menu.scss";
@import "blocks/order.scss";
@import "blocks/contacts.scss";
@import "blocks/pagination.scss";
@import "blocks/reviews.scss";
@import "blocks/order.scss";
@import "blocks/team.scss";
@import "blocks/hamburger-menu.scss";
@import "blocks/hamburger-menu-link.scss";