%cover{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin tablets{
  @media (max-width: $tablets) {
    @content;
  }
}

@mixin phones{
  @media (max-width: $phones) {
    @content;
  }
}