.team{
  background: url('../img/bg/team-bg.jpg') center center / cover no-repeat;
  position: relative;
}

.team__block{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  background: rgba(#2f3234, .93);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 13%;

  @include tablets{
    left: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.team__item{
  color: #fff; 
  font-size: rem(14.01px);
  margin-bottom: rem(40px);
}

.team__member-name{
  @include gagalin();
  display: flex;
  align-items: center;
  cursor: pointer;

  &:before{
    display: flex;
    content: "";
    width: rem(10px);
    height: rem(7px);
    background: url('../img/icons/triangle.png') center center no-repeat;
    margin-right: rem(10px);
  }

  @include tablets{
    justify-content: center;
    font-size: rem(20px);
  }

}

.team__member{
  display: flex;

  @include tablets{
    flex-direction: column;
    align-items: center;
  }
}

.team__avatar{
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  @include tablets{
    margin-right: 0;
    margin-bottom: rem(20px);
  }

  @include phones{
    margin-right: 0;
    margin-bottom: rem(20px);
  }

  .team__avatar-pic{
    display: block;
    max-width: 100%;
    min-height: 100%;
  }

}

.team__desc{
  .team__function{
    @include ubuntu($style: bold);
  }
  
  .team__text{
    @include ubuntu($style: light);
    max-width: rem(208px);
  }
}

.team__item_active{

  .team__wrap{
  height: rem(100px);
  overflow: auto;

  @include tablets{
    height: rem(230px);
  }

  @include phones{
    height: rem(230px);
  }
  }
}

.team__item_active{
  .team__member-name{
  color: $yellow;
  }

  .team__member-name:before{
    transform: rotate(-180deg);
  }
}

.team__wrap{
  height: 0;
  overflow: hidden;
  transition: .5s;
}