.best{
  background: url('../img/bg/best.jpg') center center / cover no-repeat;
}

.best__list{
  display: flex;
}

.best__item{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 0px 10px;
}

.best__img{
  margin-bottom: 40px;
}

.best__desc{
  text-align: center;
}

.best__title{
  @include lifehack();
  font-size: 24.12px;
  margin-bottom: 20px;
}

.best__text{
  @include ubuntu($style: light);
  font-size: 14.04px;
  line-height: 1.714;
}