.btn{
  border-radius: 5px;
  padding: 10px 15px;
  background: $red;
  color: #fff;
  @include ubuntu($style: medium);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;

  &:hover{
    background: #c1401e;
  }
}

.btn--bg-black{
  text-align: center;
  padding: 12px 15px;

  &:hover{
    background: #1f2122;
    cursor: pointer;
  }
}