.btn{
  border-radius: 5px;
  padding: 10px 15px;
  background: $red;
  color: #fff;
  @include ubuntu($style: medium);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;

  &:hover{
    background: #c1401e;
  }

  &_clear{
    background: transparent;
    text-transform: none;
    @include ubuntu($style: light);
  }

  &_clear:hover{
    background: transparent;
  }
}

.btn--bg-black{
  background: #2f3234;
  text-align: center;
  padding: 12px 15px;
  max-width: 110px;

  &:hover{
    background: #1f2122;
  }
}