.btn{
  border-radius: rem(5px);
  padding: rem(10px) rem(15px);
  background: $red;
  color: #fff;
  @include ubuntu($style: medium);
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);

  &:hover{
    background: #c1401e;
  }

  &_clear{
    background: transparent;
    text-transform: none;
    @include ubuntu($style: light);
  }

  &_clear:hover{
    background: transparent;
  }
}

.btn--bg-black{
  background: #2f3234;
  text-align: center;
  padding: rem(12px) rem(15px);
  max-width: rem(110px);

  @include phones{
    display: none;
  }

  &:hover{
    background: #1f2122;
  }
}

.btn--read{
  display:none;

  @include phones{
    display: flex;
    font-size: rem(10.7px);
  }
}
