.contacts{
  background: url('../img/bg/contacts-bg.jpg') center center / cover no-repeat;
}

.footer{
  background: url('../img/bg/footer-bg.jpg') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: rem(12px) 0;

  .container_footer{
    @include phones{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .footer__contacts{
    @include phones{
     display: flex;
     flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: rem(15px);
    }
  }
  
  a{
    text-decoration: none;
    font-style: rem(14px);
  }

  .footer__address-link{
    @include ubuntu($style: light);
    color: #fff;
  }

  .footer__address{
    margin-bottom: rem(5px);
  }
  .footer__phone{
    display: flex;
    align-items: center;

  }

 .phone-icon{
    height: rem(11px);
    width: rem(13px);
    margin-right: rem(7px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer__phone-link{
    @include ubuntu($style: bold);
    color: $orange;
  }

  .social-media__list{
    display: flex;
    align-items: center;
    justify-content: center;

    .social-media__item{
      margin-right: rem(20px);
      width: rem(22px);
      height: rem(22px);

      &:last-child{
        margin-right: 0;
      }
    }

    .social-media__link{
      display: block;
      width: rem(22px);
      height: rem(22px);
      opacity: .5;
      transition: .3s;

      &:hover{
        opacity: 1;
      }
    }

  }

}

.vk-icon, .fb-icon, .inst-icon, .twitter-icon{
  width: rem(22px);
  height: rem(22px);
}