.hamburger{
	position: fixed;
	z-index: 100;
	top: rem(43px);
	right: rem(34px);
	display: none;
	margin-left: rem(30px);
	@include tablets{
		display: block;
	}
	cursor: pointer;
	width: rem(24px);
	&__item{
		transition: transform .5s;
		height: rem(4px);
		margin-bottom: rem(5px);
		border-radius: rem(4px);
		background-color: #fff;
		&:last-child{
			margin-bottom: 0;
		}
	}

}