.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(12px);
}

.header__buttons{
  display: flex;
  align-items: center;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__menu {
	flex: 1;
	text-align: right;
	margin-right: rem(20px);

  @include tablets() {
    display: none;
  }
}