.hero{
  background: url('../img/bg/hero-bg.jpg') center center / cover no-repeat;
  position: relative;
}

.hero__container{
  display: flex;
  flex: .78;
}

.hero__text{
  padding: 64px 0 0 15px;
}

.hero__desc{
  font-size: 65px;
  color: #fff;
  @include lifehack();
  line-height: 1;
}

.hero__content{
  display: flex;
  align-items: center;
}

.hero-container{
  flex: 1;
}

.to-next-section{
  position: absolute;
  left: 50%;
  bottom: 40px;
  background: transparent;
  border: none; 
  outline: none;
  width: 30px;
  height: 17px;

  &:after{
    content:"";
    background: url('../img/icons/arrow-scroll.svg') center center no-repeat;
  }
  
}