.menus{
  background: url('../img/bg/burgers-bg.jpg') center center / cover no-repeat;
  position: relative;
  color: #fff;

  .title{
    position: absolute;
    top: rem(110px);
    left: rem(110px);
    color: #fff;

    @include phones{
      font-size: rem(45px);
      top: rem(50px);
      left: rem(50px);
    }
  }

  &__list{
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  @include phones{
    width: 100%;
    justify-content: flex-end;
  }
  }


  &__item{
    display: flex;
    &_active{
      .menus__trigger span{
        color: $yellow;
      }
      .menus__wrap{
        width: rem(540px);

        @include tablets{
          width: rem(530px);
        }
        @include phones{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }

     
    }
  }

  &__item:last-child{
    .menus__content{
      padding: rem(62px) rem(100px) rem(62px) rem(33px);
    }
  }

  &__wrap{
    width: 0;
    overflow: hidden;
    transition: .5s;
  }

  &__trigger{
    @extend %cover;
    display: flex;
    align-items: flex-end;
    width: rem(80px);
    padding-bottom: rem(45px);
    text-decoration: none;
    span{
      font-size: rem(40px);
      @include gagalin();
      color: #fff;
      transform: rotate(-90deg);
      white-space: nowrap;
      width: 100%;
    }
    @include phones{
      width: rem(80px);
      
      }
  }

  
  &__content{
    background-color: rgba(#2f3234, 0.93);
    height: 100%;
    padding: rem(62px) rem(37px) rem(62px) rem(33px);
    line-height: rem(24px);
    min-width: rem(540px);

    @include tablets{
      padding: rem(60px) rem(29px) rem(60px) rem(33px);
    }
    
    @include phones{
      min-width: rem(150px);
      padding: rem(10px) rem(10px) rem(10px) rem(10px);
    }

  }

}

.menus__content{
  position: relative;
  @include phones{
  width: rem(400px);
  padding: rem(60px) rem(40px);
  }
  @include phones{
  &:before{
    content: "";
    width: rem(20px);
    height: rem(20px);
    background: url(../img/icons/cross.png) center center / contain no-repeat;
    position: absolute;
    top: rem(30px);
    right: rem(30px);
  }
}
}

.menus__item .menus__item_active{
  @include phones{
  position: absolute;
  width: rem(480px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
}
}



