.pagination{
  position: fixed;
  top: rem(95px);
  right: rem(55px);
  @include tablets{
    display: none;
  }
}

.pagination__item{
  margin-bottom: rem(5px);
}

.pagination__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid transparent;
  border-radius: 50%;

  &:hover{
    border-color: #fff;
  }

}

.pagination__link:before{
    content: "";
    display: flex;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: #fff;
}

.pagination__item_active .pagination__link{
  border-color: #fff;
}