.title{
  color: $yellow;
  font-size: rem(67.04px);
  @include gagalin();

  &--color-black{
    color: black;
    text-align: center;
  }

  &_color-white{
    color: #fff;
  }

  &_mb-56{
    margin-bottom: rem(56px);
  }

  &_mb-47{
    margin-bottom: rem(47px);
  }
  
  @include tablets{
    font-size: rem(63px);
  }
}