html{
  font-style: 16px;

  @include tablets{
    font-size: 14px;
  }

  @include phones{
    font-size: 13px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include ubuntu();
  color: $black;
}

.container {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 95%;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--without-align{
    justify-content: initial;
  }

  &_footer{
    flex-direction: initial;
    justify-content: space-between;
    align-items: center;
  }
  
  @include tablets{
    padding: 0px 20px;
  }
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}


// tag styles reset
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

input, textarea{
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
}

textarea{
  resize: none;
  height: 90px;
}

a{
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  min-height: 650px;
}

.section-title {
  font-size: rem(72px);
  @include gagalin();
  color: $yellow;
  margin-bottom: rem(40px);

  &_color {
    &_black {
      color: $black;
    }

  }

  &_position {
    &_center {
      text-align: center;
    }
  }
}